
.navbar-light .navbar-brand, a {
    color: #016601;
}

.navbar-brand {
    font-weight: bold;
}

.navbar {
    margin-bottom: 30px; 
}

a:focus,
a:hover {
  color: #333333;
}

a, 
a:focus,
a:hover {
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #016601;
    border-color: #016601;
}

.btn-primary:hover {
    color: #fff;
    background-color: #333333;
    border-color: #333333;
}